### ***Task 1: Data Cleaning and Preprocessin***

In [66]:
import pandas as pd

In [67]:
df =pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\sales_data_sample (1).csv",encoding="latin1")
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

### **Identifing and handling missing values**

In [68]:
df = pd.DataFrame(df)
df.isnull()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2819,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2820,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2821,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2822,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

### **Remove duplicate**

In [69]:
pd_unique = df.drop_duplicates()
pd_unique

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [70]:
df = df.drop('ADDRESSLINE2', axis=1)
df = df.drop('TERRITORY', axis=1)
df = df.drop('STATE', axis=1)
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,S72_3212,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,S72_3212,"Oulu Toy Supplies, Inc.",981-443655,Torikatu 38,Oulu,90110,Finland,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,S72_3212,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,S72_3212,Alpha Cognac,61.77.6555,1 rue Alsace-Lorraine,Toulouse,31000,France,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,S72_3212,Gifts4AllAges.com,6175559555,8616 Spinnaker Dr.,Boston,51003,USA,Yoshido,Juri,Medium

In [71]:
# merging two columns
df['CONTACT_NAME'] = df['CONTACTFIRSTNAME']+' '+df['CONTACTLASTNAME']
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,CONTACT_NAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Brown,Julie,Medium,Julie Brown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Small,Diego Freyre
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,"Oulu Toy Supplies, Inc.",981-443655,Torikatu 38,Oulu,90110,Finland,Koskitalo,Pirkko,Medium,Pirkko Koskitalo
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Medium,Diego Freyre
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,Alpha Cognac,61.77.6555,1 rue Alsace-Lorraine,Toulouse,31000,France,Roulet,Annette,Small,Annette Roulet
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,Gifts4AllAges.com,6175559555,8616 Spinnaker Dr.,Boston,51003,USA,Yoshido,Juri,Medium,Juri Yoshido

In [72]:
df=df.drop('CONTACTLASTNAME', axis=1)
df=df.drop('CONTACTFIRSTNAME', axis=1)
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,DEALSIZE,CONTACT_NAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,Medium,Julie Brown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,54,S72_3212,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Small,Diego Freyre
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,54,S72_3212,"Oulu Toy Supplies, Inc.",981-443655,Torikatu 38,Oulu,90110,Finland,Medium,Pirkko Koskitalo
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,54,S72_3212,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Medium,Diego Freyre
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,54,S72_3212,Alpha Cognac,61.77.6555,1 rue Alsace-Lorraine,Toulouse,31000,France,Small,Annette Roulet
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,54,S72_3212,Gifts4AllAges.com,6175559555,8616 Spinnaker Dr.,Boston,51003,USA,Medium,Juri Yoshido

In [73]:
print(df['ORDERDATE'].dtype)

object

In [74]:
def convert_to_date(dataframe: pd.DataFrame, date_column: str) -> pd.DataFrame:
    """
    Convert a string date column to datetime and extract only the date part.
    
    Args:
        dataframe (pd.DataFrame): The input DataFrame containing the date column
        date_column (str): The name of the column to convert
        
    Returns:
        pd.DataFrame: DataFrame with the converted date column
    """
    # First convert string to datetime objects with time information
    dataframe[date_column] = pd.to_datetime(
        dataframe[date_column], 
        format='%m/%d/%Y %H:%M', 
        errors='coerce'
    )
    
    # Then extract only the date part (removing time information)
    dataframe[date_column] = dataframe[date_column].dt.date
    
    return dataframe

# Apply the conversion to the ORDERDATE column
df = convert_to_date(df, 'ORDERDATE')

In [75]:
def extract_date_only(dataframe: pd.DataFrame, date_column: str) -> None:
   
  
    dataframe[date_column] = pd.to_datetime(dataframe[date_column], errors='coerce').dt.date


extract_date_only(df, 'ORDERDATE')

In [76]:
df['SALES'] = df['SALES'].apply(lambda x: f"${x:,.2f}")
df['PRICEEACH'] = df['PRICEEACH'].apply(lambda x: f"${x:,.2f}")
df['MSRP'] = df['MSRP'].apply(lambda x: f"${x:,.2f}")

In [77]:
df=df.drop('PHONE',axis=1)

In [78]:
df['CITY']= df['CITY'].replace('NYC','New York')

In [79]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,DEALSIZE,CONTACT_NAME
0,10107,30,$95.70,2,"$2,871.00",2003-02-24,Shipped,1,2,2003,Motorcycles,$95.00,S10_1678,Land of Toys Inc.,897 Long Airport Avenue,New York,10022,USA,Small,Kwai Yu
1,10121,34,$81.35,5,"$2,765.90",2003-05-07,Shipped,2,5,2003,Motorcycles,$95.00,S10_1678,Reims Collectables,59 rue de l'Abbaye,Reims,51100,France,Small,Paul Henriot
2,10134,41,$94.74,2,"$3,884.34",2003-07-01,Shipped,3,7,2003,Motorcycles,$95.00,S10_1678,Lyon Souveniers,27 rue du Colonel Pierre Avia,Paris,75508,France,Medium,Daniel Da Cunha
3,10145,45,$83.26,6,"$3,746.70",2003-08-25,Shipped,3,8,2003,Motorcycles,$95.00,S10_1678,Toys4GrownUps.com,78934 Hillside Dr.,Pasadena,90003,USA,Medium,Julie Young
4,10159,49,$100.00,14,"$5,205.27",2003-10-10,Shipped,4,10,2003,Motorcycles,$95.00,S10_1678,Corporate Gift Ideas Co.,7734 Strong St.,San Francisco,NaN,USA,Medium,Julie Brown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,$100.00,15,"$2,244.40",2004-12-02,Shipped,4,12,2004,Ships,$54.00,S72_3212,Euro Shopping Channel,"C/ Moralzarzal, 86",Madrid,28034,Spain,Small,Diego Freyre
2819,10373,29,$100.00,1,"$3,978.51",2005-01-31,Shipped,1,1,2005,Ships,$54.00,S72_3212,"Oulu Toy Supplies, Inc.",Torikatu 38,Oulu,90110,Finland,Medium,Pirkko Koskitalo
2820,10386,43,$100.00,4,"$5,417.57",2005-03-01,Resolved,1,3,2005,Ships,$54.00,S72_3212,Euro Shopping Channel,"C/ Moralzarzal, 86",Madrid,28034,Spain,Medium,Diego Freyre
2821,10397,34,$62.24,1,"$2,116.16",2005-03-28,Shipped,1,3,2005,Ships,$54.00,S72_3212,Alpha Cognac,1 rue Alsace-Lorraine,Toulouse,31000,France,Small,Annette Roulet
2822,10414,47,$65.52,9,"$3,079.44",2005-05-06,On Hold,2,5,2005,Ships,$54.00,S72_3212,Gifts4AllAges.com,8616 Spinnaker Dr.,Boston,51003,USA,Medium,Juri Yoshido

In [80]:
ORDERLINENUMBER  PRODUCTLINE    ADDRESSLINE1 CONTACT_NAME   MSRP  QTR_ID, MONTH_ID, YEAR_ID

SyntaxError: invalid syntax (2459887024.py, line 1)

In [ ]:
df=df.drop('ORDERLINENUMBER', axis=1)

In [82]:
df.rename(columns={
    'ORDERNUMBER': 'Order_number',
    'QUANTITYORDERED': 'Quantity_Ordered',
    'PRICEEACH': 'Price_each',
    'ORDERLINENUMBER': 'Order_line_number',
    'SALES': 'Sales',
    'ORDERDATE': 'Order_date',
    'STATUS': 'Status',
    'QTR_ID': 'Quarter_id',
    'MONTH_ID': 'Month_id',
    'YEAR_ID': 'Year_id',
    'PRODUCTLINE': 'Product_line',
    'MSRP': 'Msrp',
    'PRODUCTCODE': 'Product_code',
    'CUSTOMERNAME': 'Customer_name',
    'ADDRESSLINE1': 'Address_line1',
    'CITY': 'City',
    'POSTALCODE': 'Postal_code',
    'COUNTRY': 'Country',
    'DEALSIZE': 'Deal_size',
    'CONTACT_NAME': 'Contact_name'
}, inplace=True)

In [83]:
df

,Order_number,Quantity_Ordered,Price_each,Order_line_number,Sales,Order_date,Status,Quarter_id,Month_id,Year_id,Product_line,Msrp,Product_code,Customer_name,Address_line1,City,Postal_code,Country,Deal_size,Contact_name
0,10107,30,$95.70,2,"$2,871.00",2003-02-24,Shipped,1,2,2003,Motorcycles,$95.00,S10_1678,Land of Toys Inc.,897 Long Airport Avenue,New York,10022,USA,Small,Kwai Yu
1,10121,34,$81.35,5,"$2,765.90",2003-05-07,Shipped,2,5,2003,Motorcycles,$95.00,S10_1678,Reims Collectables,59 rue de l'Abbaye,Reims,51100,France,Small,Paul Henriot
2,10134,41,$94.74,2,"$3,884.34",2003-07-01,Shipped,3,7,2003,Motorcycles,$95.00,S10_1678,Lyon Souveniers,27 rue du Colonel Pierre Avia,Paris,75508,France,Medium,Daniel Da Cunha
3,10145,45,$83.26,6,"$3,746.70",2003-08-25,Shipped,3,8,2003,Motorcycles,$95.00,S10_1678,Toys4GrownUps.com,78934 Hillside Dr.,Pasadena,90003,USA,Medium,Julie Young
4,10159,49,$100.00,14,"$5,205.27",2003-10-10,Shipped,4,10,2003,Motorcycles,$95.00,S10_1678,Corporate Gift Ideas Co.,7734 Strong St.,San Francisco,NaN,USA,Medium,Julie Brown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,$100.00,15,"$2,244.40",2004-12-02,Shipped,4,12,2004,Ships,$54.00,S72_3212,Euro Shopping Channel,"C/ Moralzarzal, 86",Madrid,28034,Spain,Small,Diego Freyre
2819,10373,29,$100.00,1,"$3,978.51",2005-01-31,Shipped,1,1,2005,Ships,$54.00,S72_3212,"Oulu Toy Supplies, Inc.",Torikatu 38,Oulu,90110,Finland,Medium,Pirkko Koskitalo
2820,10386,43,$100.00,4,"$5,417.57",2005-03-01,Resolved,1,3,2005,Ships,$54.00,S72_3212,Euro Shopping Channel,"C/ Moralzarzal, 86",Madrid,28034,Spain,Medium,Diego Freyre
2821,10397,34,$62.24,1,"$2,116.16",2005-03-28,Shipped,1,3,2005,Ships,$54.00,S72_3212,Alpha Cognac,1 rue Alsace-Lorraine,Toulouse,31000,France,Small,Annette Roulet
2822,10414,47,$65.52,9,"$3,079.44",2005-05-06,On Hold,2,5,2005,Ships,$54.00,S72_3212,Gifts4AllAges.com,8616 Spinnaker Dr.,Boston,51003,USA,Medium,Juri Yoshido